<section class="about-fork">
  <h1 class="about-fork-caption">People Are Talking About Fork</h1>

  <div class="reviews-fork">
    <div class="review">
      <img src="@img/logo/aboutfork/logo5 1.png" alt="#" class="review__icon" />
      <p class="review__description">
        Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
        Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
      </p>
    </div>
    <div class="review">
      <img src="@img/logo/aboutfork/logo6 1.png" alt="#" class="review__icon" />
      <p class="review__description">
        Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, rhoncus
        molestie neque ac, mollis eleifend nibh.
      </p>
    </div>
    <div class="review">
      <img src="@img/logo/aboutfork/logo7 1.png" alt="#" class="review__icon" />
      <p class="review__description">
        In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat
        fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula.
      </p>
    </div>
    <div class="review">
      <img src="@img/logo/aboutfork/logo8 1.png" alt="" class="review__icon" />
      <p class="review__description">
        Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
        Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
      </p>
    </div>
    <div class="review">
      <img src="@img/logo/aboutfork/logo0 1.png" alt="" class="review__icon" />
      <p class="review__description">
        Praesent ut eros tristique, malesuada lectus vel, lobortis massa. Nulla
        faucibus lorem id arcu consequat faucibus.
      </p>
    </div>
    <div class="review">
      <img
        src="@img/logo/aboutfork/logo123 1.png"
        alt=""
        class="review__icon"
      />
      <p class="review__description">
        Fusce pharetra erat id odio blandit, nec pharetra eros venenatis.
        Pellentesque porttitor cursus massa et vestibulum.
      </p>
    </div>
  </div>
  <p class="about__fork-info">Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero tincidunt consequat nec elementum orci. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
</section>
