<section class="features">
  <div class="features-wrapper">
    <ul class="features__list">
      <div class="features__list-item">
        <img
          class="features__list-logo"
          src="@img/logo/features/icon1.png"
          alt=""
        />
        <div class="features__list-texts">
          <span class="features__list-title"
            >Creatred to Make The Web Better</span
          >

          <p class="features__list-description">
            Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui
            laoreet vulputate dignissim. Sed id metus id quam auctor molestie
            eget ut augue.
          </p>
        </div>
      </div>
      <div class="features__list-item">
        <img
          class="features__list-logo"
          src="@img/logo/features/icon 2.png"
          alt=""
        />
        <div class="features__list-texts">
          <span class="features__list-title">Incredibly Powerful Tool</span>
          <p class="features__list-description">
            Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
            odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi
            gravida luctus. Aliquam erat volutpat.
          </p>
        </div>
      </div>
      <div class="features__list-item">
        <img
          class="features__list-logo"
          src="@img/logo/features/icon2 1.png"
          alt=""
        />
        <div class="features__list-texts">
          <span class="features__list-title">Experimental Stuff</span>
          <p class="features__list-description">
            Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
            odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi
            gravida luctus. Aliquam erat volutpat.
          </p>
        </div>
      </div>
      <div class="features__list-item">
        <img
          class="features__list-logo"
          src="@img/logo/features/icon33 1.png"
          alt=""
        />
        <div class="features__list-texts">
          <span class="features__list-title"
            >Creatred to Make The Web Better</span
          >
          <p class="features__list-description">
            Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
            odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi
            gravida luctus. Aliquam erat volutpat.
          </p>
        </div>
      </div>
    </ul>
    <div class="features__poster">
      <span class="features__poster-title">Here is what you get></span>
      <div class="poster-wrapper">
        <img class="poster" src="@img/editor 1.png" alt="" />
      </div>
    </div>
  </div>
</section>
