<header class="header">
  <div class="header__background">
    <nav class="header__nav">
      <div class="header__logo">
        <img src="@img/logo/Logo 2 (1).png" alt="" class="logo__icon" />
        <div class="logo__text">FORKIO</div>
      </div>

      <ul class="nav__list">
        <a href="#" class="nav__link"
          ><div class="border__link"></div>
          Overview</a
        ><a href="#" class="nav__link"
          ><div class="border__link"></div>
          About Fork</a
        ><a href="#" class="nav__link"
          ><div class="border__link"></div>
          Buying Options</a
        ><a href="#" class="nav__link"
          ><div class="border__link"></div>
          Support</a
        >
      </ul>
      <a href="#" class="nav__button">Buy Now</a>
      <img src="@img/logo/burger.png" alt="" class="burger-menu" />
    </nav>
  </div>
  <div class="header__title">
    <h1 class="header__caption">Fork App</h1>
    <p class="fork__description">
      A real gamechanger in the world of web development
    </p>
    <p class="fork__devices-support">V. 2.8 FOR MAC AND WINDOWS</p>
  </div>
</header>
