<section class="present">
  <div class="present-wrapper wrapper">
    <div class="present__button-wrapper">
      <a class="present__button" href="#">Download For Free Now</a>
      <span class="present__button-info">Unlimited 30-Days Trial Period</span>
    </div>
    <span class="present__headline">Revolutionary editor</span>
    <p class="present__info">
      Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet
      vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.
    </p>
    <div class="present__github-buttons-wrapper">
      <img
        class="present__github-buttons"
        src="@img/github-buttons.png"
        alt=""
      />
      <img
        class="present__github-button"
        src="@img/github-buttons1.png"
        alt=""
      />
      <img
        class="present__github-button"
        src="@img/github-buttons-part-2 1.png"
        alt=""
      />
    </div>
  </div>
</section>
