<section class="pricing">
  <div class="pricing-wrapper wrapper">
    <div class="pricing__border"></div>
    <span class="pricing__headline"> Fork Subscription Pricing </span>
    <div class="price-cards">
      <div class="card">
        <div class="card__title">
          <span class="card__title-name"> Students </span>
        </div>
        <div class="card__info">
          <span class="card__price">$29</span>
          <span class="card__period">per month</span>
          <div class="card__border"></div>
          <div class="card__benefits">
            <span class="card__benefit">Professional License</span>
          </div>
          <a class="card__button" href="#">purchase</a>
        </div>
      </div>
      <div class="card">
        <div class="card__title">
          <span class="card__title-name"> professional </span>
        </div>
        <div class="card__info">
          <span class="card__price">$59</span>
          <span class="card__period">per Month</span>
          <div class="card__border"></div>
          <div class="card__benefits">
            <span class="card__benefit">Professional License</span>
            <span class="card__benefit">Email Support</span>
          </div>
          <a class="card__button" href="#">purchase</a>
        </div>
      </div>
      <div class="card">
        <div class="card__title">
          <span class="card__title-name"> agency </span>
        </div>
        <div class="card__info">
          <span class="card__price">$99</span>
          <span class="card__period">per month</span>
          <div class="card__border"></div>
          <div class="card__benefits">
            <span class="card__benefit">Phone Support</span>
            <span class="card__benefit">1-12 Team Members</span>
          </div>
          <a class="card__button" href="#">purchase</a>
        </div>
      </div>
      <div class="card">
        <div class="card__title">
          <span class="card__title-name"> enterprise </span>
        </div>
        <div class="card__info">
          <span class="card__price">$159</span>
          <span class="card__period">per month</span>
          <div class="card__border"></div>
          <div class="card__benefits">
            <span class="card__benefit">Unlimited Team Members</span>
            <span class="card__benefit">24/ 7 Phone Support</span>
          </div>
          <a class="card__button" href="#">purchase</a>
        </div>
      </div>
    </div>
  </div>
</section>
