.about-fork {
  @include flex-main(column, flex-start, center);
  width: 100%;
  background: url("@img/background/img1.png");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-reppeat;
  background-color: rgba(58, 44, 61, 0.93);
}

.about-fork-caption {
  padding-top: 108.11px;
  @include headlines(48px);
  color: white;
}

.reviews-fork {
  padding-top: 74.89px;
  @include grid-main(repeat(3, 1fr), repeat(2, 159px), 111px, 90px);
}

.review {
  @include flex-main(column, flex-start, center);
  @include lato(16px);
  line-height: 24px;
  color: white;
  font-style: italic;
  width: 345px;

  &:first-child {
    img {
      width: 165px;
      height: 43px;
    }
    p {
      padding-top: 33px;
    }
  }
  &:nth-child(2) {
    img {
      width: 148px;
      height: 50px;
    }
    p {
      padding-top: 29px;
    }
  }
  &:nth-child(3) {
    img {
      width: 64px;
      height: 64px;
    }
    p {
      padding-top: 22px;
    }
  }
  &:nth-child(4) {
    img {
      width: 225px;
      height: 24px;
    }
    p {
      padding-top: 33px;
    }
  }
  &:nth-child(5) {
    img {
      width: 166px;
      height: 34px;
    }
    p {
      padding-top: 28px;
    }
  }
  &:nth-child(6) {
    img {
      width: 108px;
      height: 34px;
    }
    p {
      padding-top: 30px;
    }
  }
}

.about__fork-info {
  padding-top: 89.5px;
  width: 887px;
  @include lato(14px);
  line-height: 21px;
  color: rgba(162, 145, 165, 1);
  // padding-bottom: 18.5px;
}

@media (max-width: 992px) {
  .about-fork-caption {
    padding-top: 85.91px;
    @include headlines(42px);
    color: white;
  }

  .reviews-fork {
    padding-top: 85.09px;
    @include grid-main(repeat(2, 1fr), repeat(3, 152px), 58px, 81px);
  }

  .review {
    &:nth-child(4) {
      img {
        margin-top: 25px;
      }
      p {
        padding-top: 33px;
      }
    }
    &:nth-child(5) {
      img {
        margin-top: 12px;
      }
      p {
        padding-top: 22px;
      }
    }
  }
  .about__fork-info {
    padding-top: 68.5px;
    width: 704px;
    padding-bottom: 19.5px;
  }
}

@media (max-width: 480px) {
  .about-fork-caption {
    width: 320px;
    padding-top: 57px;
    @include headlines(36px);
    line-height: 48px;
  }

  .reviews-fork {
    padding-top: 53px;
    @include grid-main(repeat(1, 1fr), repeat(6, 175px), 58px, 81px);
  }

  .review {
    width: 280px;

    &:nth-child(6) {
      p {
        padding-top: 24px;
      }
    }
  }

  .about__fork-info {
    padding-top: 0px;
    width: 251px;
    padding-bottom: 22px;
  }
}
