.features {
  width: 100%;
  background: rgb(240, 240, 240);
  @include flex-main(none, center, none);
}

.features-wrapper {
  width: 1200px;
  padding-top: 95px;
  @include flex-main(row, none, flex-start);
}

.features__list-item {
  display: flex;
  align-items: flex-start;
  padding-top: 32px;
  width: 540px;
}

.features__list-item:first-child {
  padding-top: 0;
}

.features__list-item {
  &:first-child {
    img {
      height: 64px;
      width: 111px;
    }
  }
  &:nth-child(2) {
    img {
      height: 80px;
      width: 90px;
    }
  }
  &:nth-child(3) {
    img {
      height: 84px;
      width: 60px;
    }
  }
  &:last-child {
    img {
      height: 71px;
      width: 71px;
    }
  }
}

.features__list-item {
  &:first-child {
    .features__list-texts {
      padding-left: 23px;
    }
  }
  &:nth-child(2) {
    .features__list-texts {
      padding-left: 44px;
    }
  }
  &:nth-child(3) {
    .features__list-texts {
      padding-left: 75px;
    }
  }
  &:last-child {
    .features__list-texts {
      padding-left: 60px;
    }
  }
}

.features__list-title {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(50, 50, 50, 1);
}

.features__list-description {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(132, 142, 151, 1);
  padding-top: 17px;
}

.features__poster {
  padding-left: 60px;
  @include flex-main(column, none, center);
  padding-bottom: 30px;
}

.features__poster-title {
  &::before {
    content: "<";
  }
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(141, 129, 172, 1);
}

@media (max-width: 992px) {
  .features {
    background: rgb(255, 255, 255);
  }

  .features-wrapper {
    padding-top: 155px;
    width: 768px;
    @include flex-main(column, none, flex-start);
    position: relative;
  }

  .poster-wrapper {
    padding-top: 76px;
  }

  .features__poster-title {
    position: absolute;
    top: 5%;
    font-size: 42px;
  }
}

@media (max-width: 480px) {
  .features-wrapper {
    width: 320px;
    align-items: center;
    padding-top: 138px;
  }

  .features__poster-title {
    top: 2%;
    width: 230px;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: center;
  }

  .features__poster {
    padding: 0;
  }

  .poster {
    width: 317px;
  }

  .features__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .features__list-item {
    &:first-child {
      .features__list-texts {
        padding-left: 0px;
      }
    }
    &:nth-child(2) {
      .features__list-texts {
        padding-left: 0px;
      }
    }
    &:nth-child(3) {
      .features__list-texts {
        padding-left: 0px;
      }
    }
    &:last-child {
      .features__list-texts {
        padding-left: 0px;
      }
    }
  }
  .features__list-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    padding-top: 21px;
  }
  .features__list-description {
    width: 268px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
  }
}
