.header {
  @include flex-main(column, flex-start, center);
  width: 100%;
  background-image: url("../img/background/img1.png");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.burger-menu {
  display: none;
}

.logo__icon {
  width: 43px;
  height: 41px;
}

.header__nav {
  width: 1200px;
  margin-top: 29.5px;
  @include flex-main(row, space-between, center);
}

.header__logo {
  @include flex-main(row, flex-start, center);
  &:hover > .logo__icon {
    content: url(../img/logo/logo-hover\ 1.png);
  }
  &:hover > .logo__text {
    color: white;
  }
}

.logo__text {
  @include lato(24px);
  margin-left: 17px;
  color: $purple-color;
}

.nav__list {
  @include flex-main(row, flex-start, center);
  margin-left: 320px;
}

.nav__link {
  @include headlines(16px);
  color: $purple-color;
  margin-right: 48px;
  &:hover {
    color: white;
  }
}

.nav__button {
  width: 145px;
  @include flex-main(row, center, center);
  @include headlines(16px);
  padding: 11px 20px;
  border-radius: 40px;
  background-color: $purple-color;
  color: white;
  border: 1px solid $purple-color;
}

.header__nav .nav__button:hover {
  background-color: white;
  color: $purple-color;
}

.header__title {
  margin-top: 127px;
}

.header__caption {
  @include headlines(82px);
  color: white;
}

.fork__description {
  margin-top: 19px;
  @include lato(30px);
  color: $purple-color;
}

.fork__devices-support {
  margin-top: 19px;
  @include headlines(16px);
  font-weight: 400;
  color: rgba(132, 142, 151, 1);
  margin-bottom: 459px;
}

@media (max-width: 992px) {
  .header__background {
    @include flex-main(row, center, flex-start);
    width: 100%;
    background-color: rgba(39, 38, 42, 1);
    height: 118px;
  }

  .header__nav {
    position: relative;
    width: 768px;
    margin-top: 31px;
    @include flex-main(row, space-between, center);
  }

  .header__logo {
    margin-left: 20px;
  }

  .nav__link {
    @include headlines(16px);
    color: $purple-color;
    margin-right: 47px;
    margin-top: 85px;
    &:hover {
      color: white;
    }
  }

  //    &:first-child{
  //     width: 81px;
  //    }
  //    &:nth-child(2){
  //     width: 96px;
  //    }
  //    &:nth-child(3){
  //     width: 132px;
  //    }
  //    &:nth-child(4){
  //     width: 68px;
  //    }

  .nav__list {
    position: absolute;
    left: 16%;
    margin-left: 0px;
    justify-content: space-between;
  }

  .nav__button {
    margin-right: 20px;
  }
  .header__title {
    margin-top: 68.91px;
  }

  .header__caption {
    @include headlines(72px);
  }
  .fork__description {
    @include lato(24px);
  }

  .fork__devices-support {
    @include headlines(14px);
    font-weight: 400;
  }
}

@media (max-width: 480px) {
  .header__background {
    height: 103px;
  }

  .header__nav {
    position: relative;
    width: 320px;
    margin-top: 34px;
    @include flex-main(row, space-between, center);
  }

  .burger-menu {
    width: 26px;
    height: 21px;
    margin-right: 15px;
    display: block;
    transition: 0.25s ease-in-out;
  }

  .burger-menu.active {
    width: 22px;
    content: url(../img/logo/close.png);
  }

  .header__logo {
    margin-left: 16px;
  }

  .logo__text {
    display: none;
  }

  .nav__list {
    display: none;
  }

  .nav__list.active {
    @include flex-main(column, center, center);
    top: 167%;
    left: 6%;
    background-color: rgba(59, 59, 59, 1);
    width: 291.9px;
  }

  .nav__link {
    @include flex-main(row, flex-start, center);
    @include headlines(26px);
    font-weight: 400;
    color: white;
    margin-top: 0px;
    background-color: rgba(51, 51, 51, 1);
    text-align: start;
    padding-top: 29px;
    padding-bottom: 30px;
    padding-left: 35px;
    margin-right: 0px;
    &:first-child {
      width: 100%;
      padding-top: 32px;
      padding-bottom: 30px;
    }
    &:nth-child(2) {
      margin-top: 3px;
      padding-top: 32px;
      width: 100%;
      padding-bottom: 30px;
    }
    &:nth-child(3) {
      margin-top: 3px;
      padding-top: 32px;
      width: 100%;
      padding-bottom: 30px;
    }
    &:nth-child(4) {
      margin-top: 3px;
      padding-top: 32px;
      width: 100%;
      padding-bottom: 30px;
      margin-bottom: 3px;
    }

    &.active {
      @include flex-main(row, flex-start, center);
      padding-left: 0px;
      padding-top: 17px;
      padding-bottom: 19px;
      color: $purple-color;
    }
  }

  .border__link {
    display: none;
    &.active {
      // margin-top: 20px;
      // margin-bottom: 16px;
      display: block;
      margin-left: 2px;
      margin-right: 29px;
      width: 5px;
      height: 53px;
      background-color: $purple-color;
    }
  }

  .header__title {
    margin-top: 50px;
  }

  .nav__button {
    width: 119px;
    @include headlines(15px);
    padding: 11px 10px;
    margin-right: 0px;
  }

  .header__caption {
    @include headlines(48px);
  }

  .fork__description {
    width: 298.89px;
    @include lato(18px);
  }

  .fork__devices-support {
    margin-top: 14px;
    @include headlines(14px);
    font-weight: 400;
    margin-bottom: 416px;
  }
}
