@mixin flex-main($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin grid-main($columns, $rows, $row-gap, $column-gap) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  row-gap: $row-gap;
  column-gap: $column-gap;
}

@mixin headlines($size) {
  font-family: Montserrat;
  font-size: $size;
  font-weight: 700;
  line-height: $size;
  letter-spacing: 0px;
  text-align: center;
}

@mixin lato($size) {
  font-family: Lato;
  font-size: $size;
  font-weight: 700;
  line-height: $size;
  letter-spacing: 0px;
  text-align: center;
}
