.present {
  width: 100%;
  @include flex-main(column, flex-start, center);
}

.present-wrapper {
  position: relative;
}

.present__button-wrapper {
  position: absolute;
  bottom: 83%;
  @include flex-main(column, flex-start, center);
}

.present__button {
  width: 390px;
  padding: 23px 0;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background: rgba(141, 129, 172, 1);
  border: 2px solid rgba(141, 129, 172, 1);
  border-radius: 40px;
  transition: 200ms ease-in-out;
  &:hover {
    background: rgba(255, 255, 255, 1);
    color: rgba(141, 129, 172, 1);
  }
}

.present__button-info {
  padding-top: 19px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(132, 142, 151, 1);
}

.present__headline {
  padding-top: 130px;
  @include headlines(54px);
  color: rgba(99, 92, 115, 1);
  text-transform: uppercase;
}

.present__info {
  padding-top: 35px;
  font-family: Lato;
  font-size: 21px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(50, 50, 50, 1);
}

.present__github-buttons-wrapper {
  padding-top: 20px;
  padding-bottom: 70px;
}

.present__github-buttons {
  width: 365px;
}

.present__github-button {
  display: none;
}

@media (max-width: 992px) {
  .present__headline {
    font-size: 42px;
    padding-top: 158px;
  }
}

@media (max-width: 480px) {
  .present__headline {
    font-size: 26px;
    width: 273px;
    padding-top: 130px;
  }

  .present__info {
    font-size: 14px;
    width: 276px;
    padding-top: 27px;
  }
  .present__button-wrapper {
    bottom: 89%;
  }

  .present__button {
    font-size: 18px;
    padding: 15px 0;
    width: 290px;
  }
  .present__github-buttons-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 88px;
  }
  .present__github-buttons {
    display: none;
  }
  .present__github-button {
    display: block;
    width: 251px;
    &:last-child {
      width: 118px;
      padding-top: 20px;
    }
  }
}
