.pricing {
  width: 100%;
  background: url("../img/background/Layer 2 1.png");
  background-position: 50% 50%;
  background-size: 100%;
  display: flex;
  justify-content: center;
}

.pricing-wrapper {
  display: flex;
  justify-content: center;
}

.pricing__border {
  margin-top: 18px;
  padding-top: 2px;
  width: 780px;
  border-radius: 0px;
  background: rgba(100, 87, 102, 1);
}

.pricing__headline {
  padding-top: 114px;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.price-cards {
  padding-top: 112px;
  padding-bottom: 140px;
  display: grid;
  grid-template-columns:
    minmax(min-content, 257px) minmax(min-content, 257px) minmax(
      min-content,
      257px
    )
    minmax(min-content, 257px);
  gap: 15px;
}

.card {
  @include flex-main(column, flex-start, center);
  transition: 200ms;
}

.card:nth-child(3) {
  transform: scale(1.15);
  margin: 0 15px;
  .card__title {
    background: rgba(51, 32, 51, 0.5);
  }
  .card__info {
    background: rgba(55, 33, 50, 0.4);
    .card__price {
      padding-top: 14px;
      font-size: 82px;
      cursor: default;
    }
    .card__period {
      padding-top: 16px;
    }
    .card__border {
      margin-top: 46px;
    }
    .card__benefits {
      padding-top: 40px;
    }
    .card__button {
      margin-top: 83px;
    }
  }
}

.card:hover {
  transform: scale(1.15);
  margin: 0 15px;
  .card__title {
    background: rgba(51, 32, 51, 0.5);
  }
  .card__info {
    background: rgba(55, 33, 50, 0.4);
    .card__price {
      padding-top: 14px;
      font-size: 82px;
      cursor: default;
    }
    .card__period {
      padding-top: 16px;
    }
    .card__border {
      margin-top: 46px;
    }
    .card__benefits {
      padding-top: 40px;
    }
    .card__button {
      margin-top: 83px;
    }
  }
}

.card__info {
  @include flex-main(column, flex-start, center);
}

.card__title {
  padding: 36px 0;
  background: rgba(255, 255, 255, 0.2);
  width: 257px;
  display: flex;
  justify-content: center;
  transition: 200ms;
}

.card__title-name {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  transition: 200ms;
  cursor: default;
}

.card__info {
  width: 257px;
  background: rgba(255, 255, 255, 0.1);
  transition: 200ms;
}

.card__price {
  padding-top: 30px;
  font-family: Montserrat;
  font-size: 60px;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  transition: 200ms;
}

.card__period {
  padding-top: 20px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  transition: 200ms;
  cursor: default;
}

.card__border {
  margin-top: 38px;
  padding-top: 5px;
  width: 60px;
  background: rgba(141, 129, 172, 1);
  transition: 200ms;
}

.card__benefits {
  padding-top: 36px;
  display: flex;
  flex-direction: column;
  transition: 200ms;
}

.card__benefit {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  transition: 200ms;
  cursor: default;
}

.card__button {
  margin-top: 36px;
  margin-bottom: 36px;
  width: 163px;
  border-radius: 40px;
  padding: 15.5px 0;
  background: rgba(255, 255, 255, 0.09);
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  transition: 200ms;
}

.card:first-child {
  .card__button {
    margin-top: 54px;
  }
}

@media (max-width: 992px) {
  .pricing__border {
    padding-top: 2px;
    width: 555px;
  }

  .pricing__headline {
    padding-top: 88px;
    font-size: 42px;
  }

  .price-cards {
    padding-top: 40px;
    grid-template-columns: minmax(min-content, 257px) minmax(min-content, 257px);
    row-gap: 70px;
  }

  .card {
    &:last-child {
      padding-top: 36px;
    }
    &:nth-child(3) {
      padding-top: 36px;
    }
  }

  .card:hover {
    &:first-child {
      margin-top: 15px;
    }
    &:nth-child(2) {
      margin-top: 15px;
    }
  }
}

@media (max-width: 480px) {
  .pricing__border {
    padding-top: 2px;
    width: 245px;
  }

  .pricing__headline {
    padding-top: 14px;
    font-size: 28px;
  }

  .price-cards {
    padding-top: 32px;
    grid-template-columns: minmax(min-content, 257px);
    row-gap: 18px;
    padding-bottom: 50px;
  }

  .card:hover {
    &:nth-child(2) {
      margin-top: 30px;
    }
    margin: 30px 0;
  }
}
