@import "variables";
@import "mixins";
@import "fonts";
@import "reset";

.container {
  margin: 0 auto;
  width: 100%;
  @include flex-main(column, flex-start, center);
}

.main {
  width: 100%;
}

.footer {
  width: 100%;
}

.wrapper {
  width: 1160px;
  @include flex-main(column, flex-start, center);
}

@import "header";
@import "present";
@import "features";
@import "about-fork";
@import "pricing";

@media (max-width: 992px) {
  .wrapper {
    width: 768px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    width: 320px;
  }
}
